---
import i18next from "i18next";
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300";

const lang = i18next.language;
const base = lang === "en" ? "" : `/${lang}`;
---

<ul class="menu grow shrink menu-md overflow-y-auto">
  <li>
    <a class="py-3 text-base" id={`${base}/home`} href={`${base}/home`}
      >{base ? "Дом" : "Home"}</a
    >
  </li>
  <li>
    <a class="py-3 text-base" id={`${base}/about-me`} href={`${base}/about-me`}
      >{base ? "О себе" : "About me"}</a
    >
  </li>
  <li>
    <a class="py-3 text-base" id={`${base}/projects`} href={`${base}/projects`}
      >{base ? "Проекты" : "Projects"}</a
    >
  </li>
  <li>
    <a class="py-3 text-base" id={`${base}/contact`} href={`${base}/contact`}
      >{base ? "Контакты" : "Contacts"}</a
    >
  </li>
</ul>

<script
  define:vars={{
    sideBarActiveItemID: sideBarActiveItemID,
    activeClass: activeClass,
  }}
>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>
